.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content_inner{
	width: 1000px;
	background-color: red;
	margin: 0 auto;
	min-height: 100vh;
	border-radius: 30px;
}

.container_inner{
	margin: 0 auto;
	padding-top: 50px;
}

.columns_50_50 .column_left, .columns_50_50 .column_right{
	width: 50%;
    float: left;
    box-sizing: border-box;
}

.columns_50_50 .column_left{
	padding-right: 15px;
}

.columns_50_50 .column_right{
	padding-left: 15px;
}

.form{
	text-align: center;
}

.input_link{
	display: inline-block;
	text-decoration: none;
	color: #000;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: yellow;
	border: 1px solid black;
	transition: all 0.3s ease-in-out;
	margin-right: 10px;
}

.form .input_link:last-child{
	margin-right: 0;
}

.input_link:focus{
	outline: none;
}

.input_link:not(.input_field):hover{
	border-color: transparent;
}

.input_field{
	padding: 10px;
	background-color: aquamarine;
	min-width: 300px;
}

.result_wrapper{
	margin-top: 50px;
	min-height: 10px;
}

.input_container, .result_container, .input_form, .load_form, .input_message_success, .input_message_error, .load_message_success, .load_message_error, .closest_form, .closest_message_error, .closest_message_success, .rest_form, .rest_message_success, .rest_message_error, .rest_menu_message_success, .rest_menu_message_error{
	text-align: center;
	visibility: hidden;
	opacity: 0;
	height: 0;
	transition: all 0.3s ease-in-out;
}

.input_message_success.appeared, .input_message_error.appeared, .load_message_success.appeared, .load_message_error.appeared{
	margin: 10px 0;
}

.appeared{
	visibility: visible;
	opacity: 1;
	height: auto;
}

.input_item{
    width: 25%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 7px;
}

.input_item > a{
	margin-right: 15px;
}

.result_item > .remove_item{
	display: none;
}

.forms_holder{
	text-align: center;
}

.forms_holder .input_link{
	margin-bottom: 10px;
}

.forms_holder .load_form, .forms_holder .input_form{
	margin-bottom: 10px;
}

.forms_holder input[type="text"], .forms_holder textarea, .forms_holder select{
	padding: 10px 20px;
	margin-bottom: 5px;
	background-color: transparent;
	border: 1px solid #000;
	min-width: 210px;
	border-radius: 30px;
	color: #000;
}

.forms_holder input[type="text"]::-webkit-input-placeholder, .forms_holder textarea::-webkit-input-placeholder{
  color: #000;
}

.forms_holder input[type="text"]::-moz-placeholder, .forms_holder textarea::-moz-placeholder{
  color: #000;
}

.forms_holder input[type="text"]:focus, .forms_holder textarea:focus, .forms_holder select{
	outline: none;
}

.forms_holder select{
	text-transform: capitalize;
}

.forms_holder .input_submit:hover, .forms_holder .load_submit:hover, .forms_holder .closest_submit:hover{
	cursor: pointer;
}

#input_password, #load_password{
	-webkit-text-security: disc;
}

.closest_message_success .result_message{
	margin: 5px 0;
} 

.restaurant {
    margin: 10px 0;
    font-weight: 800;
    font-style: italic;
    text-transform: capitalize;
}

.restaurant_distance{
	font-style: italic;
	margin-bottom: 10px;
}

.restaurant_item > div{
    display: inline-block;
    margin: 3px 0;
}

.restaurant_item.on_action{
	font-weight: 600;
}

.restaurant_item.on_action .restaurant_item_price{
	position: relative;
}

.restaurant_item.on_action .restaurant_item_price:after{
	content: "Akcija";
	background-color: yellow;
	position: absolute;
	font-size: 10px;
    top: 0px;
    left: calc(100% + 2px);
    width: 35px;
    height: 12px;
    line-height: 12px;
    border-radius: 6px;
    border: 1px solid black;
}